@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* ============
* === FONT ===
* ============
*/
.pixelify-sans-retrofont {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*
* ===============
* === UTILITY ===
* ===============
*/
:root {
    --bgColor: #f4f6e9;
}
@keyframes scrollBG {
    0% {background-position: 0px 0px;}
    100% {background-position: -648px 612px;}
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #10ac84; /* Your selected color */
    color: white; /* Optional: change text color */
    border-color: #007a5e; /* Optional: change border color */
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background-color: #503b5e;
}

input[type=checkbox]:checked + label {
    background-color: #77aa08;
}

input[type=number]:focus {
    outline: none;
    border-color: green
}
input[type=number]:focus + label {
    outline: none;
    border-color: green
}

/*
* Slider switch 
*/
.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 400ms;
    transition: 400ms;
}
.slider:before {
    position: absolute;
    content: "✖";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: 400ms;
    transition: 400ms;
}

input:checked + .slider {
    background-color: #77aa08;
}

input:focus + .slider {
    box-shadow: 0 0 0.0625rem #77aa08;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.75rem);
    -ms-transform: translateX(1.75rem);
    transform: translateX(1.75rem);
    content: "✔";
}

/*
* ==============
* === MOBILE ===
* ==============
*/

body {
    background-image: url(../assets/images/wargrooveTile.png);
    image-rendering: pixelated;  /* Makes sure the image looks crisp at any scale */
    image-rendering: crisp-edges; /* Fallback for older browsers */
    background-size: auto 102px;
    background-position: 0px 0px;
    animation-name: scrollBG;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*Set the main box to the center*/
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main > * {
    margin: 0 auto;
}